.top a:nth-child(2) {
    color: #BBE1FA;
}


.top a:nth-child(3) {
    color: #3282B8;
}



.resume-column {
    width: 100%;
    height: 500px;
    border: none;
    padding: none;
}

.resume-column iframe {
    width: 60%;
    height: 400px;
}

img {
    width:100%;
    height: 500px;
}
